[Unit]
Description=Temperature and humidity measurement
Requires=pigpiod.service
After=pigpiod.service

[Service]
Type=simple
User=root
WorkingDirectory=/
ExecStart=/usr/local/bin/rpi-measure
Restart=on-failure
RestartSec=300

[Install]
WantedBy=multi-user.target
