[connection]
host = hostname.for.aws-iot.amazonaws.com
clientId = iot-client-id
topic = topic/identifier

[cert]
rootCAPath = /etc/rpi_measure/cert/root-ca.crt
certificatePath = /etc/rpi_measure/cert/certificate.crt
privateKeyPath = /etc/rpi_measure/cert/private.key
